/* comentario */

body{
    background:#ffffff;
}

.site{/* largura maxima */
    max-width: 1200px;  
    width: 100%; 
	margin:0 auto;
	


}

/************TOPO**********/
.faixaRedeSocial{
	background: #401230;
}
.topoRedeSocial {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.topoRedeSocial h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}
.topoRedeSocial ul {
	display: flex;
	margin-right: 25px;
}
.topoRedeSocial ul li {
	padding: 10px 0;
	margin: 0 5px;
}
.topoRedeSocial ul li a {
	list-style: none;
	padding: 10px;
	margin: 5px;
}

.topoRedeSocial h1 a {
	background: url("../img/logoKiBeleza.svg") no-repeat;
	width: 260px;
	height: 95px;
	display: block;
	text-indent: -9999px;
}

/****** MENU ********/

.faixaMenu{
	background: #d9b1a3;
}
.menu ul {
	display: flex;
	z-index: 9999;
}
.menu ul li {
	padding: 0;
	margin: 2;
	background: #401230;
	padding: 5px 10px;
	border-radius: 5px;
}

.menu ul li:hover{
	background: #8c375f;
}

.menu ul li a {
	color: #ffffff;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	
	font-size: 12px;
}
.menu ul li a:hover {
	color: #cccccc;
	
}


/****MENU FIXO*******/ 

.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	background: #d9b1a3d6;
	animation: fadeIn 1s ease-in-out;
}


/********** BANNER ********/
.banner img{
	background: url(../img/banner.png);
	width: 100%;
	
}

.banner .slick-prev:before,
.banner .slick-next:before
{
    font-size: 40px;    
    opacity: .75;
    color: #d9b1a3;

}

.banner .slick-next
{
    right: 40px;

}

.banner .slick-prev
{
    left: 25px;
    z-index: 99;

}

.banner .slick-dots
{
    bottom: 25px;
   
}

.banner .slick-dots li button:before
{  
   
    font-size: 25px;  
    opacity: .75;
    color: #d9b1a3;
}

.banner .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #401230;
}

/* ############### SOBRE ################### */
.corpoSobre {
	display: flex;
	justify-content: space-around;
	padding: 60px 0;
}
.corpoSobre article {
	width: 45%;
}
.corpoSobre h2{
	font-size: 35px;
	color: #440011;
}

.corpoSobre article h3 {
	color: #401230;
	font-size: 35px;
	padding-bottom: 30px;
	text-decoration: underline;
}
.corpoSobre article p {
	text-align: center;
	line-height: 25px;
	color: #d8c6c2;
	font-size: 25px;
	padding: 100px 30px;
	border: solid thick #401230;
}

.corpoSobre article img {
	width: 100%;
	margin-top: 33px;
}

/* Insta */

.insta{
    background: #401230;
    display: flex;
    overflow: hidden;
    padding: 60px 0;
}

.insta img{
	margin: 0 2%;
	
}

/* corpo servico */

.faixaServico{
   background: #8c375f;
   padding: 60px 0; 

}

.corposervico section{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.corposervico h2{
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    border-bottom: solid thick #ffffff;
    margin-bottom: 20px ;
}

 .corposervico section article{
    width: 23%;
    background: #ffffff;
    padding: 10px;
}    

.corposervico section article img{
    width: 100%;
}
   

.corposervico section article p{
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
    color:#401230;
    padding-bottom: 50px;
}

.corposervico h2{
    text-align: center;
    padding: 2% 0;
}

/* Destaque */

.destaque{
    background:url(../img/destaque.png);
    background-size: cover;
    text-align: center;
    padding: 5% 0;
}

.destaque img{
    width: 9%;
}


/* Equipe */

.corpoEquipe{
    padding: 30px;
    text-align: center;
}
  
.corpoEquipe h2{
    text-align: center;
    color: #8c3f5f;
    font-size: 35px;
    border-bottom: solid thick #83375f;
    margin-bottom: 20px ;
}

.corpoEquipe section{
    display: flex;
    justify-content: space-around;
    
}

.corpoEquipe article{
    width: 70%;
    margin: 3% auto;}

.corpoEquipe article h3{
    text-align: center;
    color: #401230;
    font-size: 25px;
    

}
.corpoEquipe article h4{
    text-align: center;
    color: #8c375f;
    font-size: 20px;
    

}

.corpoEquipe section article img{
    width: 100%;
}

/* blog */
.faixaBlog{
    background: #401230;
}

.faixaBlog h2{
    text-align: center;
    color: #ffffff;
    max-width: 1200px;  
    width: 100%; 
    margin:0 auto;
    font-size: 35px;
    border-bottom: solid thick #ffffff;
    margin-bottom: 20px ;
}

.blog{
    display: flex;
    justify-content: center;
}

.blog article{
    width: 25%;
    background: #ffffff;
    padding: 5px;
    margin: 5px;
}

.blog article img{
    width: 100%;
}

.blog article p{
    text-align: center;
    color: #401230;
    padding: 20px 0;
}



/* Rodapé */

.rodape{
    background: url(../img/rodape.png);
    background-size: cover;
	text-align: center;
}
.rodape img {
	margin-top: 1.5%;
	width: 25%;
}
.rodape ul {
	display: flex;
	justify-content: center;
}
.rodape ul li a {
	text-decoration: none;
}
.rodape ul li a img {
	width: 75px;
	margin: 20px;
}

.rodape h2 {
	color: #ffffff;
	font-size: 20px;
	padding-bottom: 2%;
	font-size: 18px;
}
.rodape h2:nth-last-child(1) {
	background: #333333;
	padding: 1.5% 0;
}
.rodape a {
	text-decoration: none;
	color: #ffffff;
}


/***** PG CONTATO ********/
.fundoForm{
	background: url(../img/contato.png);
}
.form{
	text-align: center;
	
}

.form h1{
   padding-top: 5%;
    margin-bottom: 2%;
	font-size: 1em;
	color: #ffffff;
}

.form h2{
	padding-top: 5%;
    margin-bottom: 2%;
	font-size: 2em;
	color: #ffffff;
    font-weight: bold;
}
.form form input[type=text],
.form form input[type=email],
.form form input[type=tel],
.form form input[type=submit],
.form form textarea{
	width: 50%;
	padding: .5em;
	background: #cccccc;
	color: #401230;
	border: thin solid #401230;
	font-size: 1.2em;
	margin-bottom: .3em;
}
.form form textarea{
	height: 150px;
	resize: none;
}

.form form input[type=submit]{
	width: 51.5%;
	cursor: pointer;
	background: #401230;
	color: #ffffff;
	border: thin solid #d85290;
}

.form form input[type=submit]:hover{
	background: #d85290;
	color: #401230;
	border: thin solid #401230;
}




/* Dispositivos médio (tablets de 769 à 992px) */
@media (max-width: 992px){

	.menu ul li a {
		padding: 15px 5px;
		font-size: 12px;
	}


}/* FIM 992 */

/* Dispositivos médio (tablets de 601 à 768px) */
@media (max-width: 768px){
	.faixaMenu .topoRedeSocial {
		flex-direction: column;
		padding-bottom: 2%;
	}

	.menu ul li a {
		padding: 15px 5px;
		font-size: 12px;
	}


	.corpoSobre article p {
		    text-align: center;
            line-height: 25px;
            font-size: 25px;
            padding: 45px 30px;
        
        }

	.corpoServico section {
		flex-wrap: wrap;
	}
	.corpoServico section article {
		width:45%;
		padding: 5px;
        margin-bottom: 5%;
        
	}

	/* ########## DESTAQUE ########### */
	.destaque {
		background-position: center;
	}
	.destaque img {
		width: 15%;
	}

	/* ################# CORPO EQUIPE ############# */
	
	.corpoEquipe section {
		flex-wrap: wrap;
	}
	.corpoEquipe section article{
		width: 45%;
		margin: 3% auto;		
	}
	.corpoEquipe section article img{
		width: 100%;
    }
    
    .corpoEquipe h2{
        margin-right: 55px;
    }

} /* FIM 768 */


@media not all and (max-width:600px){
	.abrir-menu,
	.fechar-menu{
		display: none;
	}

}

/* Dispositivos pequeno (Celular inferiores de 0 à 600px) */
@media (max-width: 600px){
	.faixaMenu .topoRedeSocial {
		flex-direction: row;
		padding-bottom: 2%;
	}

	.menu{
		background: #d85290a8;
		padding: 1em;
		height: 100%;
		position: fixed;
		z-index: 1;

		margin: 0;
		top: 0;
		max-width: 350px;
		width: 50%;

		right: -360px;

		transition: right .5s ease-out;
	}

	.menu-ativo .menu{
		right: 0;
	}
	
	.menu ul{
		flex-direction: column;
		text-align: center;
	}
	.menu ul li{
		margin: 5%;;
	}

	.abrir-menu{
		background: url(../img/icon/menu-branco.svg);
		padding: 20px;
		border: 0;
		display: block;
		margin-right: 50px;
	}

	.fechar-menu{
		background: url(../img/icon/close.svg);
		padding: 20px;
		border: 0;
		display: block;
	}
	
	/* SUB MENU */
	.menu ul ul{
		position: relative;
	}
	.menu ul li:hover > ul{
		margin:0;
	}
	
	.sub-menu li:hover{
		background: #d85290!important;
	}
	
	.banner{
		display: none;
	}

	/* ############### SOBRE ################### */
	.corpoSobre {
		flex-direction: column;
		padding: 30px 0 0 0;
	}
	.corpoSobre article {
		width: 100%;
		text-align: center;
	}
	.corpoSobre article p {
		
		font-size: 15px;
    }

	.corpoSobre article img {
		width: 100%;
		margin-top: 70px;
	}

	/* ################# SERVIÇO ################# */
	body{
		font-size: 16px	;
	}
	.faixaServico {
		padding: 30px 0;
	}
	.corpoServico section {
		flex-direction: column;
	}
	.corpoServico section article {
		width: 90%;
		margin: 0 auto;
		background: #ffffff;
		padding: 10px;
		margin-bottom: 10%;
	}
	
	.corpoServico section article p {
		font-size: 1.2em;
		text-align: center;
		line-height: 1.5em;
		color: #401230;
		padding-bottom: 25px;
    }
    .corpoServico h2{
        
        margin-right: -1px;

    }

	/* ################# CORPO EQUIPE ############# */
	.corpoEquipe {
		padding: 30px 0;
	}

	.corpoEquipe section {
		flex-direction: column;
	}
	.corpoEquipe section article{
		width: 70%;
    }
    
    .corpoEquipe h2{
        margin-right: 0px;
    }

	/* ############### BLOG ############## */
	

	.blog {
		flex-direction: column;
		text-align: center;
	}
	.blog article {
		width: 85%;
		margin: 0 auto;
		margin-bottom: 5%;
	}
	
	.blog article p {
		font-size: 1.5em;
	}


}/* FIM MEDIA 600*/



